@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --primary-color: #b1040e; /* твой новый цвет */
  --primary-color-text: #ffffff; /* цвет текста на кнопках */
}

body {
  margin: 0;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  padding: 5px 15px;
  text-decoration: none;
  color: #334155;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #2b2b2b, #4f4f4f, #b0b0b0, #d80027);
  background-size: 400% 400%;
  -webkit-animation: gradientShift 20s ease infinite;
          animation: gradientShift 20s ease infinite;
  color: #f5f5f5;
  font-family: "Segoe UI", sans-serif;
}
.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__content input:first-of-type {
  margin-top: 0;
}
.form__content div.p-password:first-of-type {
  margin-top: 0;
}
.form__title {
  font-weight: 500;
  font-size: 32px;
  color: black;
  margin-bottom: 32px;
}

.main {
  width: 100%;
  padding: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.avatar .edit {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.avatar .edit:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.avatar .edit:hover + .avatar__img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.avatar__img {
  position: absolute;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.avatar__img:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.avatar__img:hover + .edit {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.avatar__avatar {
  position: absolute;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: gray;
  color: white;
  font-size: 100px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.avatar__avatar:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.avatar__avatar:hover + .edit {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.avatar__title {
  font-size: 36px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.avatar__subtitle {
  text-align: center;
}

.table__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-fileupload {
  width: 100%;
}

.cards {
  margin: 50px;
  width: 100%;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.error-title {
  font-size: 124px;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.error-subtitle {
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.user {
  width: 100%;
  padding: 10px 12px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.user:hover {
  background: rgba(0, 0, 0, 0.0941176471);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.user.active {
  background: #ecffd0;
}

@-webkit-keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.chat .messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 16px 8px 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 8px;
  background-image: url("@/assets/bg-pattern.png");
  background-size: 300px 300px; /* или auto для паттерна */
  background-repeat: repeat;
  background-color: #f9f9f9;
}
.chat .messenger__text {
  padding: 8px;
  border-radius: 5px;
  background: rgb(236, 255, 208);
  position: relative;
  padding-right: 50px;
}
.chat .messenger__text.author {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 50px;
  padding-right: 0px;
}
.chat .messenger__text.author .time {
  bottom: 8px;
  left: 10px;
}
.chat .messenger__text .time {
  position: absolute;
  font-size: 11px;
  color: gray;
  bottom: 8px;
  right: 10px;
}
.chat .manage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blocks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blocks__item:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blocks__flex {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20%;
  border: 10px solid #f43f5e;
}
.blocks__flex i {
  font-size: 56px;
  color: #f43f5e;
  text-decoration: none;
}
.blocks__title {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

footer {
  background-color: #f2f2f2;
  color: #2b2b2b;
  padding: 2rem 1rem;
  border-top: 1px solid #ccc;
  margin-top: 3rem;
}
footer .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 768px) {
  footer .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
footer img {
  width: 130px;
  margin-bottom: 0.5rem;
}
footer h4 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 0.25rem;
}
footer ul li a {
  text-decoration: none;
  color: #2b2b2b;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
footer ul li a:hover {
  color: #d32f2f;
}
footer .info {
  font-size: 0.875rem;
  color: #555;
}
footer .footer-bottom {
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 0.75rem;
  text-align: center;
  color: #888;
  border-top: 1px solid #dcdcdc;
}

.notifs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  max-width: 300px;
}
.notifs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.notifs__item i {
  color: green;
}

.modal {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 12px;
}

.overlay {
  z-index: 1000;
  position: absolute;
  top: calc(100% + 10px);
  background: white;
  border: 1px solid rgb(214, 214, 214);
  width: 250px;
  border-radius: 8px;
  padding: 5px;
}
.overlay.hide {
  display: none;
}

.texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.texts__item {
  width: 100%;
  padding: 8px 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
.texts__item:hover {
  background: rgb(243, 243, 243);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */